                        body {
                            background-color: rgba(143, 174, 209, 0.2);
                             background-image: url("/img/CSS-Animated-Backgrounds-2.gif");
                             background-repeat:repeat;
                             /* background-size: cover; */
                           
                        }
                    
                      .topnav {
                        overflow: hidden;
                        background-color: #009999;
                        }
                        .topnav a {
                            float: right;
                            color: #f2f2f2;
                            background-color: #009999;
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                            font-size: 17px;
                          }
                          .topnav a:hover {

                            background-color: darkblue;
                            color: yellow;
                            font-weight: bold;
                            font-size: larger;
                          }
                          a.active{
                            color: white;
                            background-color: darkblue;                          }

                          a.active:hover{

                            color: yellow;
                            font-weight: bold;
                            background-color:#009999;
                          }
                          .cssimg{

                            padding:100px 30% 30% 30%;
                            width: 40%;
                          }